version: '3.9'
services:
  mfsmetalogger2:
    image: gerardogve/moosefs-metalogger:latest
    deploy:
      placement:
        constraints:
          -  node.labels.nuc2==true
        preferences:
          - spread: node.labels.nuc2
    networks:
      - outside
    volumes:
      - /docker/metalogger2:/var/lib/mfs
      - /docker/metalogger2:/etc/mfs

networks:
  outside:
    external:
      name: "host"
