version: '3.9'
services:
  mfsmetalogger2:
    image: gerardogve/moosefs-metalogger:2.0.0
    deploy:
      placement:
        constraints:
          -  node.labels.nuc==true
        preferences:
          - spread: node.labels.nuc
    networks:
      - outside
    volumes:
      - /docker/mfschunkserver2:/var/lib/mfs
      - /docker/mfschunkserver2:/etc/mfs

networks:
  outside:
    external:
      name: "host"
