version: '3.9'
services:
  mfschunkserver3:
    image: gerardogve/moosefs-chunkserver:latest
    deploy:
      placement:
        constraints:
          -  node.labels.dietpi3==true
        preferences:
          - spread: node.labels.dietpi
    networks:
      - outside
    volumes:
      - /mnt/disk3/moosefs:/mnt/hdd0
      - /mnt/disk4/moosefs:/mnt/hdd1
      - /mnt/disk9/moosefs:/mnt/hdd2
      - /mnt/disk13/moosefs:/mnt/hdd3
      - /docker/mfschunkserver3:/var/lib/mfs
      - /docker/mfschunkserver3:/etc/mfs
  
networks:
  outside:
    external:
      name: "host"
