version: '3.9'
services:
  mfschunkserver2:
    image: gerardogve/moosefs-chunkserver:2.0.0
    deploy:
      placement:
        constraints:
          -  node.labels.nuc==true
        preferences:
          - spread: node.labels.nuc
    networks:
      - outside
    volumes:
      - /mnt/disk11/moosefs:/mnt/hdd0
      - /mnt/disk6/moosefs:/mnt/hdd3
      - /mnt/disk7/moosefs:/mnt/hdd4
      - /mnt/disk8/moosefs:/mnt/hdd5
      - /docker/mfschunkserver2:/var/lib/mfs
      - /docker/mfschunkserver2:/etc/mfs

networks:
  outside:
    external:
      name: "host"
