version: '3.9'
services:
  mfsmetalogger1:
    image: gerardogve/moosefs-metalogger:2.0.0
    deploy:
      placement:
        constraints:
          -  node.labels.dietpi2==true
        preferences:
          - spread: node.labels.dietpi2
    networks:
      - outside
    volumes:
      - /docker/metalogger1:/var/lib/mfs
      - /docker/metalogger1:/etc/mfs

networks:
  outside:
    external:
      name: "host"
